@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center pt-5 gap-5">
    <div class="about-us">
        <h2>About Us</h2>
        <p>ResRev is a platform where you can explore and review restaurants in your area. We aim to provide you with the best dining experiences by allowing you to discover new restaurants, read reviews, and share your own experiences.</p>
        <p>Whether you're a foodie looking for the next hidden gem or someone who wants to share their favorite dining spots, ResRev is the perfect place for you.</p>
        <button class="btn btn-primary">Learn More</button>
    </div>
    <div class="image-container">
        <img src="images/dash.jpg" style="border-radius: 45px" alt="Restaurant Image" />
    </div>
</div>